:root {
  --orange: #d07746;
  --blue: #375abc;
  --yellow: #e2b035;
  --black: #2a2628;
  --white: #f1ebe5;
  --green: #2a665b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

body {
  background-color: var(--white);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  font-size: larger;
}

.nav-item {
  padding: 0 25px;
}

.nav-link {
  color: var(--black) !important;
}

.navbar-brand {
  font-family: Courgette;
  font-size: xx-large;
}

.nav-item:last-child {
  background-color: var(--blue);
  border-radius: 66px;
  margin-left: 25px;
}

.nav-item:last-child a {
  color: var(--white) !important;
}