.about {
  display: flex;
  justify-content: center;
  gap: 150px;
  background-color: var(--background-color-dark);
}

.brogrammer {
  width: 550px;
}

.about--description {
  display: flex;
  align-items: center;
  max-width: 550px;
  line-height: 1.8em;
}
