header {
  display: relative;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.nav--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 35px;
}

.nav--logo {
  font-size: 2.5em;
  font-weight: 500;
  font-family: "Courgette", serif;
  user-select: none;
}

.nav--items {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
  font-size: 1.4em;
  letter-spacing: 0.01em;
  margin: 0;
}

.nav--link {
  text-decoration: none;
  color: black;
}
