#projects {
  background-color: #f8f8f8;
}

.projects--header {
  font-size: 2em;
  display: block;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.projects--columns {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.projects--column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.projects--column:first-of-type > .project {
  background-color: var(--background-color-dark);
}
.projects--column:last-of-type > .project {
  background-color: var(--grey);
}
