---

---

<section id="education" class="">
  <h2 class="text-4xl font-bold text-center">Education</h2>

  <h3 class="text-3xl font-bold mt-4 mb-2">
    Bachelor's Degree in Computer Science
  </h3>
  <p>
    I've started my journey in Computer Science after enrolling at <strong
      >Ca' Foscari</strong
    >, the University of Venice. The CS course was structured in a traditional
    fashion, so I was provided with foundations of mathematics, programming, and
    data structures and algorithms, among others. <br />The courses that I
    enjoyed the most were the ones which required the development of a project,
    in which I always excelled. Among these there were:
    <ul>
      <li>
        Software Engineering, which required the development of SushiHub, an
        Android app whose purpose was to facilitate ordering many items from a
        menu at a restaurant table;
      </li>
      <li>
        Web Apps & Technologies, which required the development of an Angular
        SPA with an Express backend for a multiplayer game of Connect Four;
      </li>
      <li>
        Introduction to Programming, which required the development of an
        interpreter for an Assembly-like language
      </li>
    </ul>
    After completing the required exams, I wrote a thesis on designing accessible
    software for physically impaired users, which was partially based on a 3 months
    internship I performed at <a href="https://www.cedacri.it/" target="_blank"
      >Cedacri</a
    > regarding accessibility compliance to European regulations for Android apps.
  </p>

  <h3 class="text-3xl font-bold mt-4 mb-2">
    Master's Degree in Computer Science
  </h3>
  <p>
    Immediately after completing my Bachelor's studies, I enrolled at the
    University of Padua for the Master's course of Computer Science. I picked
    this course due to its flexibility, since it only had three mandatory exams.
    The rest of the curriculum was to be compiled by the students themselves,
    following the department's rules.
    <br />
    I picked the <strong>Programming Languages and Systems</strong> major with a
    few minors in Artificial Intelligence and attended the following courses:
    <ul>
      <li>Computability</li>
      <li>Advanced Algorithms</li>
      <li>Economics and Management of Innovation</li>
      <li>Functional Languages</li>
      <li>Software Verification</li>
      <li>Languages for Concurrency and Distribution</li>
      <li>Selected Topics in Algorithms</li>
      <li>Machine Learning</li>
      <li>Vision and Cognitive Systems</li>
      <li>Big Data Computing</li>
      <li>Bioinformatics</li>
      <li>Type Theory</li>
      <li>Data Mining</li>
    </ul>
    This personalized curriculum allowed me to deepen my understanding of specific
    topics of computer science.
    <br />
    To conclude my academical career, I wrote a thesis on a research project about
    <em>Recommender Systems</em>, specifically the problem of <em
      >Cross-Domain Recommendation</em
    >.
  </p>
</section>

<style>
  ul {
    list-style: circle;
    /* margin-left: 0.5rem; */
    padding-left: 1.5em;
    margin: 0.5em 0;
  }

  li + li {
    margin-top: 0.05em;
  }

  a {
    color: #b387ff;
    text-decoration: underline;
  }
</style>
