---
import { Icon } from "astro-icon/components"

interface Props {
  socials: { name: string; url: string; icon: string }[]
}

const { socials } = Astro.props
---

<section id="social" class="space-y-6">
  <h2 class="text-4xl font-bold text-center">Connect With Me</h2>
  <div class="flex justify-center space-x-4">
    {
      socials.map((project) => (
        <a
          href={project.url}
          class="p-2 bg-purple-500 bg-opacity-40 text-white rounded-full hover:bg-purple-600 transition-colors"
        >
          <Icon name={project.icon} class="w-6 h-6" />
        </a>
      ))
    }
  </div>
</section>
